<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309213114234-mnj87j9fikkc9quj5ustr8hm82e7coiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309213114234-mnj87j9fikkc9quj5ustr8hm82e7coiv</string>
	<key>API_KEY</key>
	<string>AIzaSyCa16Phm0h08oWlM3C-Pkp7GpbmPpH1yUg</string>
	<key>GCM_SENDER_ID</key>
	<string>309213114234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twoDit</string>
	<key>PROJECT_ID</key>
	<string>test-56cb4</string>
	<key>STORAGE_BUCKET</key>
	<string>test-56cb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309213114234:ios:ae1f50dd412b2672f970c3</string>
</dict>
</plist>